# DEVELOPMENT
DEBUG=hrm*,-hrm:middleware:headersInspector
# DEBUG_OUT_PATH="debug.log"
# DEBUG_HIDE_DATE=true
# DEBUG_COLORS=false # FOR VIEWING ACTUAL TIME
DEBUG_PREFIX="hrm:"
DEBUG_DEPTH=5
DEBUG_SHOW_HIDDEN=true
# DEBUG=hrm*
FORCE_COLOR=3

NODE_ENV=development
PORT=N
IP=W.X.Y.Z
ORIGIN=http://W.X.Y.Z:N

DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=

JWT_KEY=
JWT_ISSUER=